<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="ProductManagementConnection"
			 connectionString="Driver={MySQL ODBC 5.3 Unicode Driver};Server=localhost;Database=techstore;User=root;Password=161002;SSLMODE=DISABLED;"
			 providerName="System.Data.Odbc" />
	</connectionStrings>
</configuration>